aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.8.1
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
browser-cookie3==0.13.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
demjson==2.2.4
diskcache==5.4.0
frozenlist==1.3.0
genshin==1.6.0
idna==3.3
importlib-metadata==4.10.1
iniconfig==1.1.1
jeepney==0.7.1
keyring==23.5.0
lz4==3.1.10
multidict==5.2.0
nextcord==2.2.0
nextcord-ext-menus==1.3.4
packaging==21.3
pbkdf2==1.3
pluggy==1.0.0
py==1.11.0
pyaes==1.6.1
pycparser==2.21
pycryptodome==3.12.0
pydantic==1.9.0
pyparsing==3.0.6
pytest==6.2.5
pytest-asyncio==0.17.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
requests==2.27.1
SecretStorage==3.3.1
six==1.16.0
toml==0.10.2
typer==0.4.0
typing-extensions==4.4.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
yarl==1.7.2
zipp==3.7.0
